body {
    background-color: #C0C0C0;
}

#container {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -7px; /* Falar com Cidicley */
    
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 37%;
    padding-right: 37%;
    padding-top: 1%;
    padding-bottom: 1%;
    vertical-align: middle;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #4F4F4F;
}

nav {
    background-color: #8B0000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
    color: whitesmoke;
    text-decoration: unset; 
}

.menu a:hover {
    font-weight: bolder;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #4F4F4F;
}

.midia {
    display: flex;
    justify-content: space-between;
}

.noticias {
    border: none 1px solid;
}

.noticias img {
    width: 360px;
    height: 215px;
}

.destaque {
    font-family: Arial, Helvetica, sans-serif;
    color: #4F4F4F;   
}

.acessar {
    background:  #8B0000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 18px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 25px;
    
}

hr {
    border: 1px solid; 
	border-color: #8B0000;
}


#rodape {
    text-align: center;
    color: #4F4F4F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    padding-bottom: 3%;
}

/* MENU SOBRE */

#foto {    
    padding-left: 350px;
}

img#foto-perfil {
    border-radius: 50%;
}

#texto {
    padding-right: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4F4F4F;
}

#coluna {
    display: flex;
    justify-content: space-between;
}

#redes {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 5px;    
}

/* Menu CONTATO */

input, textarea {
    width: 500px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.enviar input {
    background:  #8B0000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 18px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.enviar input:hover {
    background: rgb(102, 37, 21);
}

textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 500px;
    height: 150px;
    line-height: 20px;
}

form {
    display:flex;
    justify-content:center;
    align-items: center;
}


/* MENU SAIBA MAIS */

.titulo-sm {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4F4F4F;
    font-size: 15pt;
    padding-left: 5px;
}

ul {
    list-style: none;
}

li::before {
    content: "• ";
    color: #8B0000;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.link-sm {
    color: #4F4F4F;
    text-decoration: unset;

}

.link-sm:hover {
    font-weight: bolder;
}
